<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://occ-0-2794-2219.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABXA5rAP1iZG1T-MuBP3o6hDhlzN_VDQrs40tEjtppisay-AJUpoqt_rJMMnKDK499tUg51oyYFh0uzZMQIr8hXqcOtO-0o8VNr_1.jpg?r=946" alt="" height="200px" srcset="">
    </div>
    <a href=""></a>

    <div class="big-card__title">
        <h1>
            <a href="#">Saiu a nova versão do Angular</a>
        </h1>
    </div>

    <div class="big-card_description">
        <p>
            <a href="#">bla bla bla bla bla</a>
        </p>
    </div>
</div>